*{
    margin:0;
    padding:0;
}
nav{
    display:flex;
    background-color: black;
    align-items: center;
    color:white;
    justify-content: space-around;
}
#part{
    display: flex;
    justify-content: space-around;
    width:50%;
}
main{
    height: 700px;
    width: 100%; 
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-repeat:no-repeat;
    background-size: 100% 700px;
}
h1{
    color:white;
    font-size: 120px;
    font-style: italic;
    position: absolute;
    left: 600px;
    top: 100px;
}
p{
    color:white;
    font-size: 30px;
    position: absolute;
    left: 450px;
    top: 240px;
}
#input{
    position: absolute;
    left:430px;
    top:300px;

}
#input>input{
    padding: 15px 100px;
}

.fa-location-dot{
    position: absolute;
    left:20px;
    top:23px;
}